.donut-chart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    p {
        margin: 0;
        font-size: 1.5rem;
        position: relative;
        top: -35px;
        text-align: center;
    }
}

.donut {
    transform: scale(90%);
    margin: 0 0 5px 0;
    position: relative;
    top: -24px
}

.chart-title {
    position: relative;
    text-align: center;
    top: -210px;
    z-index: 10;
    padding: 1% 0;
    margin: 0;
    font-size: 2rem;

    
}
.rocket-type {
     p {
        font-size: 1.15rem; 
     }
     .chart-title {
        position: relative;
        top: -190px;
     }
}

@media only screen and (max-width: 480px) {

    .donut-chart {
        height: 350px;
    }

    .chart-title {
        position: relative;
        top: -240px;
        font-size: 2.4rem;
    }
    .rocket-type {
         p {
            font-size: 1.15rem; 
         }
         .chart-title {
            position: relative;
            top: -220px;
         }
    }

}
