.map {
    padding: 0;
}

GoogleMapReact {
    width: 100%;
    height: 100%;
    margin: 0;
}

.map-pin {
    // border: 1px solid red;
    font-size: 2rem;

    p {
        margin: 0;
    }

    i {
        -webkit-text-stroke: 3px black;
    }

}