.nb-launches {

  h2 {
    text-align: center;

    span {
      color: dodgerblue;
      font-size: larger;
    }
  }

    ul {

        display: flex;
        flex-flow: column wrap;
        max-height: 60%;
        padding-left: 18%;
        justify-content: center;

      li {
        list-style-type: none;
        line-height: 1.3rem;
        color: dodgerblue;

        strong {
          color: white;
        }
        }  
    }
    
}
