.pin-details {

    background-color: hsla(0, 0%, 0%, .8);
    animation: .1s ease-in-out 0s 1 running slidein forwards;
    border-radius: 5px;
    padding: 1%;
    box-shadow: 2px 2px 5px 5px hsla(0, 0%, 0%, .2);

    h3, p, li {
        margin: 5px 0;
    }
    h3 {
        margin-bottom: 10px;
    }
    button {
        background-color: transparent;
        border: none;
        color: white;
        position: absolute;
        left: 91%;
    }

    

    @keyframes slidein {
        from {
            top: -20%;
        }
        to {
            top: 5%;
        }
    }
}
@media only screen and (max-width: 480px) { 

    .pin-details {

        padding: 2%;
        background-color: black;

        button {
            font-size: 2rem;
            position: absolute;
            left: 90%;
            top: 0;
        }
    }

    @keyframes slidein {
        from {
            top: 2000px;
        }
        to {
            top: 2300px;
        }
    }

}

@media only screen and (max-width: 1024px) and (min-width: 768px) { 

    .pin-details {

        padding: 2%;
        background-color: black;

        button {
            font-size: 2rem;
            position: absolute;
            left: 95%;
            top: 0;
        }
    }

    @keyframes slidein {
        from {
            top: 2000px;
        }
        to {
            top: 2350px;
        }
    }
    
}