.rockets-carousel {

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    button {
        width: 1.5rem;
        background-color: transparent;
        border: none;
        font-size: 2rem;
    }


    .carousel {
        // border: 1px solid grey;
        overflow: hidden;
        width: 85%;

        .inner {
            // border: 1px solid blue;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            white-space: nowrap;
            transition: transform 0.3s ;
        }
    }
}

.rocket {
    height: 280px;
    margin-right: 10px;
    // border: 1px solid green;
    padding: 1%;
    display: flex;
    flex-flow: row nowrap;
    border-radius: 10px;
    background-color: hsla(0, 0%, 0%, 0.5);
    // width: 800px;

    ul {
        list-style: none;
        padding-left: 0;
    
        li {
            line-height: 2rem;
        }
    }

    img {
        width: 150px;
        border-radius: 5px;
        object-fit: cover;
        // border: 1px solid red;
    }
    
    .text {
        margin: 0 1rem;
        // border: 1px solid blue;
        width: 250px;
    }
    
    h3 {
        margin: .5rem 0;
    }
    
}


