.rockets-carousel {

    

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    button {
        width: 1.5rem;
        background-color: transparent;
        border: none;
        font-size: 2rem;
        color: white;
    }


    .carousel {
        overflow: hidden;
        width: 85%;

        .inner {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            white-space: nowrap;
            transition: transform 0.3s ;
        }
    }
}

.rocket {
    height: 280px;
    margin-right: 10px;
    padding: 1%;
    display: flex;
    flex-flow: row nowrap;
    border-radius: 10px;
    background-color: hsla(0, 0%, 0%, 0.7);

    ul {
        list-style: none;
        padding-left: 0;
    
        li {
            line-height: 2rem;
        }
    }

    img {
        width: 150px;
        border-radius: 5px;
        object-fit: cover;
    }
    
    .text {
        margin: 0 1rem;
        width: 250px;
    }
    
    h3 {
        margin: .5rem 0;
    }
    
}

@media only screen and (max-width: 480px) {

    .rockets-carousel {



        button {
            display: none;
        }
        .carousel {
           overflow: unset;

           width: 100%;

           .inner {
            white-space: initial;
            flex-flow: column nowrap;
            align-items: center;
            width: 100%;
        }

        }
        
        
        .rocket {
            width: 98%;
            margin-top: 1rem;
            ul {
            
                li {
                    line-height: 1.5rem;
                    
                }
            }

        }
    }
}
