@mixin scrollbars(
  $size: 10px,
  $foreground-color: white,
  $background-color: black
) {
  // For Chrome & Safari
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }
  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // Standard version (Firefox only for now)
  scrollbar-color: $foreground-color $background-color;
  scrollbar-width: thin;

}



.timeline {
    overflow: scroll;
    @include scrollbars();

    h2 {
      margin-top: .5rem;
      border-bottom: 1px solid dodgerblue;
    }
}

.event {
    border-bottom: 1px solid gray;
    padding: 10px;
    margin-bottom: 1rem;

    h3, p {
        margin: 0;
    }
}


