.upcoming {

    display: flex;
    flex-direction: column;
    justify-content: center;

    h2, p {
    margin:0;
    }

    .countdown {
        color: dodgerblue;
        font-size: 3.5rem;
    }

    .upcoming-date {
        font-size: 1.7rem;
    }

    p{
        font-size: 1.3rem;
        font-style: italic;
        color: darkgrey;
    }
}

